<html ng-app="surverApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!--<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Tinos:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">-->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    
    <style>
      body {

          /*font-family:'Quattrocento Sans', sans-serif;
          font-family: 'Tinos', serif;
          font-family: 'Pavanam', sans-serif;
          font-family: 'Volkhov', serif;*/
 
      }
    </style>

</head>

<body ng-controller="employeeMainController">

    <div class="row panel panel-default">
        <div class="panel-body" role="navigation">
            <ul class="nav nav-pills">
               <!-- <li role="presentation" ng-class="{'active':employeePageCurrentState===employeePageStates.Home}" ng-click="swichEmployeePageState(employeePageStates.Home)">
                    <a href="#">Home</a>
                </li>-->
                <!--<li role="presentation" ng-class="{'active':employeePageCurrentState===employeePageStates.Add}" ng-click="swichEmployeePageState(employeePageStates.Add)">
                    <a href="#"  ui-sref="Add({case_id: 'G89785',task_id:'400-2',user_id:'chillk',owner_id:'pairus' })">Give Feedback</a>
                </li>
              <!--  <li role="presentation" ng-class="{'active':employeePageCurrentState===employeePageStates.List}" ng-click="swichEmployeePageState(employeePageStates.List)">
                    <a href="#">List Feedback</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div ui-view>

    </div>

    <!--Vendor Scripts-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>


    <!--Custom Scripts-->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="Scripts/Employees/employeeService.js"></script>
    <script type="text/javascript" src="Scripts/Employees/employeeMainController.js"></script>
    <script type="text/javascript" src="Scripts/Employees/employeeHomeController.js"></script>
    <script type="text/javascript" src="Scripts/Employees/employeeAddController.js"></script>
    <script type="text/javascript" src="Scripts/Employees/employeeListController.js"></script>





</body>

</html>