<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> Employee List</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Empoyee Name</th>
                        <th>Empoyee Age</th>
                        <th>Empoyee Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="currentEmployee in employees">
                        <td>{{currentEmployee.EmployeeName}}</td>
                        <td>{{currentEmployee.EmployeeAge}}</td>
                        <td>{{currentEmployee.EmployeeAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>