<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" ng-controller="employeeAddController">
            <h3>Task Feedback for: {{userData.caseId}} - {{userData.taskId}}</h3> </div>
        <div class="panel-body">
            <div class="form form-default">
                <div class="row">
                    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6"> <b> <label for="Label1" ng-controller="employeeAddController" >Feedback owner : {{userData.ownerId}}</label></b> </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <b><label ID="Label2"  ng-app="surverApp.controllers">Feedback received date :{{currentDate | date:'yyyy-MM-dd'}}</label>  </b>
                        <br />
                        <br /> </div>
                </div>
                <div class="row">
               <!--     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <b> <label for="Label3" >Feedback modified by: </label></b>
                        <label for="lblModifiedBy" readonly="true" style="border:none"></label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <b>    <label for="Label4" >Feedback modified date :<label>  </b>
                        <label for="lblModifiedDate" readonly="true" style="border:none"></label>
                        <br />
                        <br />
                        <br /> </div>
                </div> -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped" align="center" id="tblFeedback">
                        <thead>
                            <tr>
                                <th style="float: inherit; text-align: center;">Category</th>
                                <th style="float: inherit; text-align: center;">Much better than expected</th>
                                <th style="float: inherit; text-align: center;">Better than expected</th>
                                <th style="float: inherit; text-align: center;">OK, as expected</th>
                                <th style="float: inherit; text-align: center;">Worse than expected</th>
                                <th style="float: inherit; text-align: center;">Much worse than expected</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row 1 Start-->
                            <tr>
                                <td><b>Analytical skills</b>
                                    <br />
                                    <p class="list-group-item-text">Understood the requirement and made good decisions based on available information. Produced an appropriate solution. </p>
                                </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="AnalyticalSkills" ng-model="feedback.AnalyticalSkills" value="Much better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="AnalyticalSkills" ng-model="feedback.AnalyticalSkills" value="Better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="AnalyticalSkills" ng-model="feedback.AnalyticalSkills" value="OK, as expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="AnalyticalSkills" ng-model="feedback.AnalyticalSkills" value="Worse than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="AnalyticalSkills" ng-model="feedback.AnalyticalSkills" value="Much worse than expected"> </td>
                            </tr>
                            <!-- row 1 End-->
                            <br>
                            <tr>
                                <td><b>Quality of work and Time management</b>
                                    <br />
                                    <p class="list-group-item-text">Work was completed on time. Established standards and processes were followed. The solution produced worked as expected.</p>
                                </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="QualityTime" ng-model="feedback.QualityTime" value="Much better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="QualityTime" ng-model="feedback.QualityTime" value="Better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="QualityTime" ng-model="feedback.QualityTime" value="OK, as expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="QualityTime" ng-model="feedback.QualityTime" value="Worse than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="QualityTime" ng-model="feedback.QualityTime" value="Much worse than expected"> </td>
                            </tr>
                            <br>
                            <!-- row 2 End-->                                      
                               <tr>
                                <td><b>Communication</b>
                                    <br />
                                    <p class="list-group-item-text">Communicated clearly and proactively in a timely manner.</p>
                                </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="Communication" ng-model="feedback.Communication" value="Much better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="Communication" ng-model="feedback.Communication" value="Better than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="Communication" ng-model="feedback.Communication" value="OK, as expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="Communication" ng-model="feedback.Communication" value="Worse than expected"> </td>
                                <td style="margin:0 auto;text-align: center">
                                    <input type="radio" name="Communication" ng-model="feedback.Communication" value="Much worse than expected"> </td>
                            </tr>
                            
                            <!-- row 3 End-->
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label for="txt_comment">Feedback Comment</label>
                    <textarea rows="4" cols="50"  class="form-control" id="txt_" ng-model="feedback.Comment" ></textarea> </div>
                <button type="button" class="btn btn-primary btn-md " ng-click="saveFeedback()">Save</button>
                    <button type="button" class="btn btn-primary btn-md " ng-click="cancelFeedback()">Cancel</button>
            </div>
        </div>
    </div>
    <!--success modal-->
    <div class="modal fade" id="success_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Save</h3> </div>
                <div class="modal-body">
                    <p>Successfully Saved!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-md btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>